@import "../../styles/colors";

.addRecipeIngredients {
  max-width: 400px;

  > div {
    margin-bottom: 10px;

    > div {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        margin-left: 10px;
      }
    }
  }

  button {
    margin-left: 0;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 2px solid $click-color;
  border-radius: 5px;

  img {
    cursor: pointer;
  }
}
