@import "../../styles/colors";

.addRecipeSteps {
  textarea {
    margin: 10px 0 20px 0;
  }

  button {
    margin-left: 0;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 2px solid $click-color;
  border-radius: 5px;
  margin-bottom: 10px;

  img {
    cursor: pointer;
  }
}
