@import "../../styles/colors";

.listContainer {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 20px;

  > div:first-child {
    position: relative;
    cursor: pointer;

    > img {
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 25px;
      border: 2px solid $click-color;
      position: absolute;
      width: 100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
