@import "./styles/colors";
@import "./styles/fonts";

// DEBUG
// * {
//   background-color: rgba(9, 255, 0, 0.05);
// }

a {
  color: $click-color;
  text-decoration: inherit;
}
a:hover {
  color: $click-color;
}

body {
  margin: 0;
  padding-bottom: 100px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Starjedi", sans-serif;
  color: $click-color;
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bold;
  margin: 0;
}

h2 {
  color: $primary-color;
  font-weight: bold;
}

.button {
  color: $dark-color;
  background-color: $click-color;
  border-radius: 5px;
  border: 1px solid $dark-color;
  padding: 10px 30px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  margin: auto;

  &:hover {
    background-color: $dark-color;
    color: $click-color;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select,
textarea {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid $click-color;
  font-size: 0.9em;
}

select {
  cursor: pointer;
}

textarea {
  min-height: 200px;
}

input[type="range"] {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.primary-color {
  color: $primary-color;
  font-weight: bold;
}

.error {
  color: $error-color;
  font-weight: bold;
}

.error-border {
  border: 2px $error-color solid;
}

.warning {
  background-color: $error-color;

  &:hover {
    color: $error-color;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
